<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MP3Tikka Your All in one Mp3 Search Engine</title>
	<meta name="google-site-verification" content="gen5zKvcAzWCaF2S1ckeFM48kd8KN7M6qGNDXh6XdLU" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap CSS -->
        <!--<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />-->
        <link href="/static/bootstrap.min.css" rel="stylesheet" />

        <!-- To better visualize the columns -->
        <style>
                .top-buffer { margin-top:20px; }
				.serach-top-margin { margin-top:5px; }
				// Classes
				.pull-left {
				  float: left !important;
				}
				.pull-right {
				  float: right !important;
				}

        </style>

    </head>
    <body>
        <div class="container">

                        <div class="row top-buffer">
                        <form class="form-horizontal" action="search" method="get" name="search">

                                <div class="form-group">
								<div class="col-md-1 col-md-offset-2">
								<img src="/static/tikka_logo_extra_small.png" class=" pull-right">
								</div>
                                <div class="col-md-5">
                                <input type="text" name="q"class="form-control serach-top-margin " placeholder="Search For Song" value="{{querry}}">
                                </div>
                                <div class="col-md-1">
                                        <button type="submit" class="btn btn-default  serach-top-margin">Search</button>
                                </div>
                                </div>
                        </form>
                        </div>

    </div>


        </div>
    </body>
        <!--script at the end of the page-->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-47819404-1', 'mp3tikka.com');
          ga('send', 'pageview');

        </script>

</html>
~
