<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="refresh" content="1; URL={{url}}">
	<title>Redirecting</title>
        <style>
		.top-buffer { margin-top:20px; }
        </style>

    </head>
    <body>
        <div class="container">
				
			<div class="row top-buffer">
		
    </div>


        </div>
    </body>
</html>
