<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{querry}} Mp3 Download</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap CSS -->
        <!--<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />-->
        <link href="/static/bootstrap.min.css" rel="stylesheet" />

        <!-- To better visualize the columns -->
        <style>
		.top-buffer { margin-top:20px; }
		.serach-top-margin { margin-top:5px; }
		// Classes
		.pull-left { float: left !important;}
		.pull-right {  float: right !important;	}
		.mp3-serach-header { font-size:25px;margin:0px;color: rgb(0, 50, 80);}
		.nomargin{ margin:0;}
		.no-bottom-padding { padding-bottom:0px;}
		.no-padding { padding:0px;}
		.table-borderless th,
		.table-borderless td{ margin:0px;]
	
        </style>

    </head>
    <body>
        <div class="container">
				
			<div class="row top-buffer">
			<form class="form-horizontal" action="{{url_for('search')}}" method="get" name="search">

				<div class="form-group">
					<div class="col-md-1 col-md-offset-2">
						<img src="/static/tikka_logo_extra_small.png" class=" pull-right">
					</div>
				<div class="col-md-5">
					<input type="text" name="q"class="form-control" placeholder="Search For Song" value="{{querry}}">
				</div>
				<div class="col-md-1">
					<button type="submit" class="btn btn-default">Search</button>
				</div>
				</div>
			</form>
			</div>
			{%if querry%}
			<div class="row">

				<div class="col-md-7 col-md-offset-2">
	
				 	<!-- Begin BidVertiser code -->
					<!--<SCRIPT LANGUAGE="JavaScript1.1" SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=572321&bid=1467832" type="text/javascript"></SCRIPT>
					<noscript><a href="http://www.bidvertiser.com/bdv/BidVertiser/bdv_publisher_toolbar_creator.dbm">custom toolbar</a></noscript>-->
					<!-- End BidVertiser code --> 
				</div>


			</div>
                        <div class="row">
			{% if songs %}
	

				<div class="col-md-7 col-md-offset-2">
					<div class="panel panel-default">
						<div class="panel-heading"><h1 class="mp3-serach-header">{{querry}} mp3 download</h1></div>
							<!--<div class="panel-body">
    								<p>.</p>
    								<p>.</p>
							</div> -->
						<table class="table table-striped table-condensed table-paddingless table-hover">
						<thead>
							<tr class="no-padding table-borderless"><td class="col-md-1 no-padding"></td><td class="col-md-6"></td>

                                                </thead>
						<tbody>
							{% for song in songs %}
								<tr>
								<td class="no-padding col-md-1" ><img src="/static/mp3-symbol.jpg"></td>
								<td class="no-bottom-padding col-md-6">
									<h4 class="nomargin">{{song.tag}}</h4> 
									<ul class="list-inline">
										<li><a href="{{song.url}}" style="color:green;" target="_blank" rel="nofollow"><strong>Download</strong></a></li>
									<!--	<li><a href="#" style="color:red"><strong>Play</strong></a></li> -->
									</ul>
								
								</td></tr>
							{% endfor %}
						</tbody></table>
					</div>
				</div>

		
			{%else%}
			

				<div class="col-md-7 col-md-offset-2">
				<div class="alert alert-danger">No Results found for "<i> {{querry}} </i>" Please check your spelling.</div>
				</div>

			{%endif%}
			{%endif%}
			<div class="col-md-3">
			{% if topSearches %}
			
					<div class="panel panel-default">
						 <div class="panel-body"><strong>Top Music</strong></div>
					<ul>				
					{% for search in topSearches%}
					<li><a href="{search.url}}">{{search.search_string}} mp3 download</a></li>
					{% endfor %}
					</div>
				
			{% endif %}

			{% if newMusic %}
                                        <div class="panel panel-default">
                                                 <div class="panel-body"><strong>New In Town</strong></div>
                                        <ul>
                                        {% for search in newMusic%}
                                        <li><a href="{search.url}}">{{search.search_string}} mp3 download</a></li>
                                        {% endfor %}
                                        </div>

			{% endif %}
			</div>
			</div>
    </div>


        </div>
>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-47819404-1', 'mp3tikka.com');
	  ga('send', 'pageview');

	</script>
    </body>
</html>
